body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    overflow: auto;
}

.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    margin-left: 50px;
    background-color: lightblue;
    justify-items: center;
}

.footer-section {
    flex: 1; 
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-left: 50px;
}

.footer-section img {
    width: 20px; 
    height: 20px;
    cursor: pointer;
    transition: transform 0.3s;
    margin-right: 10px;
}

.footer-section a {
    text-decoration: none; 
    color: inherit; 
}


