body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    overflow: auto;
}

footer {
    display: flex;
    justify-content: space-around; /* Répartit les sections équitablement */
    align-items: center; /* Centre les éléments verticalement */
    height: 100px; /* Ajuster au besoin */
    background-color: #333;
    color: #fff;
    text-align: center;
    position: relative;
    margin-top: -100px; /* Marge négative équivalente à la hauteur du footer */
    clear: both;
}

.footer-section {
    flex: 1; /* Chaque section prend l'espace égal */
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
}

.footer-section img {
    width: 40px; /* Taille des images */
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s;
}

