/* style.css */

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.pages{
    margin-right: 10px;
    float: right;
}

.link {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.accueil{
    float: left;
    margin-left: 5%;
}

.pages a{
    text-decoration: none; 
    color: inherit; 
}

header{
    width: 100%;
    position: fixed;
    background-color: #fff;
    display: flex;
}